[submodule "external/pcre2"]
	path = external/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "external/uthash"]
	path = external/uthash
	url = https://github.com/troydhanson/uthash.git
